@import 'mixins';
@import '../data/nucleons_height';
@import '../data/nucleons_offset';
@import '../data/nucleons_background';
@import '../data/nucleons_icons';
@import '../data/nucleons_shadow';
@import '../data/nucleons_width';
@import '../data/nucleons_radius';
@import '../data/nucleons_typography_sizes';
@import '../data/nucleons_typography_themes';

@include helper-generator(
  $nucleons_shadow,
  'extend',
  '',
  box-shadow
);

@include helper-generator(
  $nucleons_radius,
  'extend',
  '',
  border-radius
);

@include helper-generator(
  $nucleons_width,
  'extend',
  '',
  width
);

@include helper-generator(
  $nucleons_background,
  'extend',
  '',
  background
);

@include helper-generator(
  $nucleons_offset,
  'class',
  'hor-p-',
  padding-left,
  padding-right
);

@include helper-generator(
  $nucleons_offset,
  'class',
  'hor-m-',
  margin-left,
  margin-right
);

@include helper-generator(
  $nucleons_height,
  'extend',
  '',
  height
);

@include helper-generator(
  $nucleons_typography_sizes,
  'extend',
  '',
  font-weight,
  font-size,
  letter-spacing,
  line-height,
  text-transform
);

@include helper-generator(
  $nucleons_typography_themes,
  'extend',
  '',
  color
);

%btn-stretch {
  width: 100%;
  min-width: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

%flex-for-rows {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

%first-last-margins {
  &:first-child {
    margin-left: 0 !important;
  }

  &:last-child {
    margin-right: 0 !important;
  }
}

%button {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  outline: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  transition: background .2s ease-out, color .2s ease-out;
}

%proto-icon {
  position: relative;
  display: inline-block;
  background: none;
  font-style: normal !important;
  text-align: center;
  vertical-align: top;
};

%proto-icon-before {
  content: '';
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat !important;
  background-position: center;
};

%btn {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  outline: none;
  text-align: center;
  vertical-align: middle;
  border: none;
  transition: background .2s ease-out, color .2s ease-out;

  .icon {
    @extend %proto-icon;

    &:before {
      @extend %proto-icon-before;
    }
  }
}
