
  $nucleons_width: (
    w-xs-xs: 8px,
    w-xs-s: 16px,
    w-xs-m: 24px,
    w-xs-l: 40px,
    w-sm-xs: 80px,
    w-sm-s: 160px,
    w-sm-m: 200px,
    w-sm-l: 240px,
    w-md-s: 320px,
    w-md-m: 400px,
    w-md-l: 480px,
    w-lg-s: 560px,
    w-lg-m: 640px,
    w-lg-l: 860px,
    w-lg-xl: 960px
  )
;