
  $nucleons_background: (
    b-one-hi: rgba(255,247,96,1),
    b-one-higher: rgba(255,249,133,1),
    b-one: rgba(248,237,28,1),
    b-one-low: rgba(211,202,23,1),
    b-four-higher: rgba(182,201,243,1),
    b-four: rgba(70,140,228,1),
    b-four-low: rgba(43,115,206,1),
    b-four-hi: rgba(96,167,255,1),
    b-two: rgba(248,96,96,1),
    b-two-hi: rgba(248,113,113,1),
    b-two-higher: rgba(252,132,132,1),
    b-three-higher: rgba(73,255,179,1),
    b-three-hi: rgba(69,227,161,1),
    b-three: rgba(69,227,161,1),
    b-three-lowest: rgba(45,172,118,1),
    b-primary-hi: rgba(240,242,247,1),
    b-primary-higher: rgba(255,255,255,1),
    b-primary-low: rgba(105,111,131,1),
    b-primary: rgba(146,156,174,1),
    b-secondary-hi: rgba(40,41,45,1),
    b-secondary-higher: rgba(54,54,54,1),
    b-secondary: rgba(19,20,22,1)
  )
;