
  $nucleons_height: (
    h-sm-s: 24px,
    h-sm-m: 32px,
    h-md-s: 40px,
    h-md-m: 48px,
    h-md-l: 56px,
    h-lg-s: 64px,
    h-lg-m: 72px,
    h-lg-l: 80px,
    h-lg-xl: 100px,
    h-xlg-s: 124px,
    h-xlg-m: 140px,
    h-xlg-xl: 164px
  )
;